<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

    <ion-toolbar>
      <ion-list>
        <ion-item>
          <ion-label>
            <div *ngIf ="folder === 'Inbox'"><h1>Home</h1></div>
            <h1>{{name}}</h1>
          </ion-label>
        </ion-item>
      </ion-list>
      <div *ngIf="folder === 'Inbox'" class='container'>
        <img src="assets/barts.jpg" alt="BART map">
      </div>

    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor='let d of destination'>
    <ion-item-divider>
      <ion-label>Destination</ion-label>
      <ion-label>{{d.destination}}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor='let e of d.estimate'>
        <ion-label>{{e.minutes}} Mins</ion-label>
        <ion-label>Platform {{e.platform}}</ion-label>
        <ion-label> {{e.direction}}</ion-label>
        <ion-label class ='{{e.color}}'>{{e.color}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>